.aboutMain{
    composes: col-12 from global;
    background-color: grey;
    z-index: -1;
}

.top{
    composes: row from global;
}
.me{
    composes: col-5 from global;
    font-size: 2em;
    color: white;
    text-align: right;
}
.change{
    composes: col-5 from global;
    font-size: 2em;
    color: red;
    text-align: left;
}

.text{
    composes: col-8 offset-2 from global;
    font-size: 2em;
}

.textLeft{
    composes: col-6 offset-2 from global;
    font-size: 1.5em;
}
.videoGames{
    composes: row from global;
    margin-bottom: 4em;
    margin-top: 4em;
}
.picRight{
    composes: col-3 from global;
}
.line{
    composes: col-12 from global;
    height: 1px;
    background-color: darkorange;
    margin-top: 1em;
    margin-bottom: 1em;
}
.lineTwo{
    composes: line;
    margin-top: 4em;
}
.stick{
    background-color: grey;
    composes: top;
    position: -webkit-sticky;
    position: sticky;
    padding-top: 1em;
    top: 4em;
    z-index: 7;
}
.musician{
    composes: col-5 offset-5 from global ;
    font-size: 2em;
    color: red;
    text-align: left;
}
.flipFront{
    width: 100%;
    height: 100%;
    position: absolute;
    animation-name: topCard;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 15s;
}
@keyframes topCard {
    0% {opacity: 0}
    40% {opacity: 0}
    50% {opacity: 1}
    90% {opacity: 1}
    100% {opacity: 0}
}
.flipBack{
    width: 100%;
    height: 100%;
    position: absolute;
    animation-name: bottomCard;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 15s;
}
@keyframes bottomCard {
    0% {opacity: 1}
    40% {opacity: 1}
    50% {opacity: 0}
    90% {opacity: 0}
    100% {opacity: 1}
}
.fill{
    max-width: 100%;
    max-height: 100%;
}
.scroll{
    composes: col-1 offset-5 from global;
    margin-top: 5em;
    height: 10em;
    text-align: center;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}
@keyframes pulse {
    0% {opacity: 1}
    50% {opacity: 0.25}
    100% {opacity: 1}
}