.center {
    text-align: center;
}
.row {
    composes: row from global;
    color: darkorange;
    background-color: grey;
    padding-bottom: 1em;
    padding-top: 1em;
    margin: 0;

}
.imgHelper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.spinGear{
    height: 2em;
    -webkit-animation: rotation 4s infinite linear;
}
.left{
    composes: col-md-2 offset-md-2 d-none d-md-block from global;
    composes: center;
}
.middle{
    composes:  col-12 col-md-4 from global;
    composes: center;
    text-align: center;
}
.right{
    composes: col-12 col-md-2 from global;
    composes: center;
}
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
.gitPic{
    height: 2em;
}