body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-color: white;
  background-image: url("../media/back.jpg");
  background-size: 100%;
}
.active{
  background-color: purple;
}
