.active{
    background-color: pink;
}
.gears{
    height: 2em;
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
}
.gearsCon:hover  .gears{
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.center{
    text-align: center;
}
.width{
    composes: col-12 from global;
    composes: center;
}
.tab{
    composes: col-12 col-md from global;
    composes: center;
}
.left{
    composes: tab;
    composes: col-md-offset-2 from global;
}

h4{
    color: white;
}
.stick{
    z-index: 6;
    composes: row from global;
    background-color: black;
    margin: 0;
}
@media screen and (min-width: 992px ){
    .stick{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
}
.hideSmall{
    composes: d-none d-md-block  from global;
}